
@{
    Layout = "~/Views/Home/_LayoutCRM.cshtml";
}

@functions {
    public string GetTimeAgo(DateTime? actionDate)
    {
        if (actionDate.HasValue)
        {
            TimeSpan timeDifference = DateTime.Now - actionDate.Value;

            if (timeDifference.TotalMinutes < 1)
            {
                return "Just now";
            }
            else if (timeDifference.TotalMinutes < 60)
            {
                return $"{(int)timeDifference.TotalMinutes} mins ago";
            }
            else if (timeDifference.TotalHours < 24)
            {
                return $"{(int)timeDifference.TotalHours} hours ago";
            }
            else
            {
                return $"{(int)timeDifference.TotalDays} days ago";
            }
        }
        else
        {
            return "Unknown";
        }
    }

    string GetApprovalStatus(int applicationId)
    {
        TelnetDBEntities _db = new TelnetDBEntities();

        var application = _db.userApplications.Find(applicationId);
        if (application != null)
        {
            return application.status == "Approved  " ? "application has been approved" : "application has been denied!";
        }
        return "Unknown";
    }
}


<!DOCTYPE html>

<html lang="en">
<head>
    <style>

        $green:#66BB6A;
        $blue:#29B6F6;
        $background-color:#EFF1F3;

        // Mixin
        @@mixin phone {
            @@media (max-width: 599px) {
                @@content;
            }
        }

        @@mixin tablet {
            @@media (min-width: 600px) {
                @@content;
            }
        }

        @@mixin laptop {
            @@media (min-width: 900px) {
                @@content;
            }
        }

        @@mixin desktop {
            @@media (min-width: 1200px) {
                @@content;
            }
        }

        body {
            background: $background-color;
            min-height: 100vh;
            position: relative;
        }

        .section-50 {
            padding: 50px 0;
        }

        .m-b-50 {
            margin-bottom: 50px;
        }

        .dark-link {
            color: #333;
        }

        .heading-line {
            position: relative;
            padding-bottom: 5px;
            &:after

        {
            content: "";
            height: 4px;
            width: 75px;
            background-color: $blue;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        }

        .notification-ui_dd-content {
            margin-bottom: 30px;
        }

        .notification-list {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            margin-bottom: 7px;
            background: #fff;
            box-shadow: 0 3px 10px rgba(0,0,0,0.06);
        }

        {
            border-left: 2px solid $blue;
        }

        .notification-list_content {
            display: flex;
            .notification-list_img

        {
            img

        {
            height: 48px;
            width: 48px;
            border-radius: 50px;
            margin-right: 20px;
        }

        }

        .notification-list_detail {
            p

        {
            margin-bottom: 5px;
            line-height: 1.2;
        }

        }
        }

        .notification-list_feature-img {
            img

        {
            height: 48px;
            width: 48px;
            border-radius: 5px;
            margin-left: 20px;
        }

        }
        }


        body {
            background: #EFF1F3;
            min-height: 100vh;
            position: relative;
        }

        a {
            text-decoration: none;
        }

        .logo-title {
            font-size: 25px;
            font-weight: bold;
            color: #9e0000;
        }

        .section-50 {
            padding: 50px 0;
        }

        .m-b-50 {
            margin-bottom: 50px;
        }

        .dark-link {
            color: #333;
            text-decoration: none !important;
        }

        .heading-line {
            position: relative;
            padding-bottom: 5px;
        }

            .heading-line:after {
                content: "";
                height: 4px;
                width: 75px;
                background-color: #0355d0;
                position: absolute;
                bottom: 0;
                left: 0;
            }

        .notification-ui_dd-content {
            margin-bottom: 30px;
        }

        .notification-list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 20px;
            margin-bottom: 7px;
            background: #fff;
            -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
        }

        .notification-list--unread {
            border-left: 2px solid #0355d0;
        }

        .notification-list--read {
            border-left: 2px solid #03ae30;
        }

        .notification-list .notification-list_content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

            .notification-list .notification-list_content .notification-list_img img {
                height: 48px;
                width: 48px;
                border-radius: 50px;
                margin-right: 20px;
            }

            .notification-list .notification-list_content .notification-list_detail p {
                margin-bottom: 5px;
                line-height: 1.2;
            }

        .notification-list .notification-list_feature-img img {
            height: 48px;
            width: 48px;
            border-radius: 5px;
            margin-left: 20px;
        }
    </style>
</head>
<body class="g-sidenav-show" style="background-color: #FFFF">
        <div class="container mb-4 container-round" style="padding-top:50px;">
            <section class="section-50">
                <div class="container">
                    <h3 class="m-b-50 heading-line">Notifications <i class="fa fa-bell text-muted"></i></h3>
                    <div class="notification-ui_dd-content">
                        @{
                            // Cast the Model to a specific type, assuming it's a collection of Notification objects
                            var notifications = (IEnumerable<notificationLogs>)Model;

                            // Sort the notifications by action date in descending order
                            var sortedNotifications = notifications.OrderByDescending(n => n.actionDate);
                        }

                        @foreach (var notification in sortedNotifications)
                        {
                            <div class="notification-list notification-list--unread">
                                <div class="notification-list_content">
                                    <div class="notification-list_img">
                                        <img src="~/Content/images/email.jpg" style="width: 50px; height: 50px" alt="user">
                                    </div>

                                    <div class="notification-list_detail">
                                        @{
                                            // Determine the action message based on the action type
                                            string actionMessage = notification.actionType == "Create" ? "was created" : "was updated";
                                            string approvalStatus = notification.actionType == "Update" ? (GetApprovalStatus(notification.applicationId ?? 0)) : "application needs an approval.";
                                        }
                                        <p><b>APPLICATION ID: @notification.applicationId @actionMessage</b></p>
                                        <p class="text-muted">This @approvalStatus</p>
                                        <p class="text-muted"><small>@(GetTimeAgo(notification.actionDate))</small></p>
                                    </div>
                                </div>
                                <div class="notification-list_feature-img">
                                    <img src="~/Content/images/bell.jpg" alt="Feature image">
                                </div>
                            </div>
                        }

                        <div class="text-center"> <a href="#" class="btn btn-success">Load more activity</a> </div>
                    </div>
            </section>
        </div>




    </main>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>