
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeleX</title>
    <link rel="icon" type="image/png" href="~/Content/LoginCSS/images/icons/background2.ico" />
</head>
<body>
    @RenderBody()
    <div> 
    </div>
</body>
</html>
