

@{
    ViewBag.Title = "ReportingAnalysis";
    Layout = "~/Views/HRM/_LayoutHRM.cshtml";
}

<h2>ReportingAnalysis</h2>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css">
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.3/dist/sweetalert2.min.css">

    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.3/dist/sweetalert2.all.min.js"></script>


</head>
<div class="body-wrapper-inner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <hr />
                <h4 id="tableTitle" style="text-align: center">Employees</h4>
                <table class="table table-responsive" id="myTable" style="display: block;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>Station</th>
                            <th>Username</th>
                            <th>Access Code</th>
                            <th>Employee ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Smith, John</td>
                            <td>Sales Manager</td>
                            <td>Sales and Distribution</td>
                            <td>IT Park, Cebu</td>
                            <td>jsmith</td>
                            <td>pass123</td>
                            <td>TXBM001</td>
                        </tr>
                        <tr>
                            <td>Miller, Emily</td>
                            <td>Financial Analyst</td>
                            <td>Finance</td>
                            <td>IT Park, Cebu</td>
                            <td>emiller</td>
                            <td>abc456</td>
                            <td>TXBM002</td>
                        </tr>
                        <tr>
                            <td>Chen, Lily</td>
                            <td>Marketing Specialist</td>
                            <td>Marketing</td>
                            <td>Negros Occidental</td>
                            <td>lchen</td>
                            <td>qwerty</td>
                            <td>TXBM003</td>
                        </tr>
                        <tr>
                            <td>Johnson, Brian</td>
                            <td>HR Manager</td>
                            <td>Human Resources</td>
                            <td>IT Park, Cebu</td>
                            <td>bjohnson</td>
                            <td>123pass</td>
                            <td>TXBM004</td>
                        </tr>
                        <tr>
                            <td>Lee, Katherine</td>
                            <td>IT Specialist</td>
                            <td>IT</td>
                            <td>Negros Occidental</td>
                            <td>klee</td>
                            <td>lee123</td>
                            <td>TXBM005</td>
                        </tr>
                        <tr>
                            <td>Thomas, David</td>
                            <td>Operations Manager</td>
                            <td>Operations</td>
                            <td>Leyte</td>
                            <td>dthomas</td>
                            <td>thomas456</td>
                            <td>TXBM006</td>
                        </tr>
                        <tr>
                            <td>Gonzalez, Patricia</td>
                            <td>Customer Service Rep</td>
                            <td>Customer Service</td>
                            <td>IT Park, Cebu</td>
                            <td>pgonzalez</td>
                            <td>welcome7</td>
                            <td>TXBM007</td>
                        </tr>
                        <tr>
                            <td>Wright, Christopher</td>
                            <td>Software Engineer</td>
                            <td>IT</td>
                            <td>Leyte</td>
                            <td>cwright</td>
                            <td>pass123</td>
                            <td>TXBM008</td>
                        </tr>
                        <tr>
                            <td>Miller, Andrew</td>
                            <td>Sales Representative</td>
                            <td>Sales and Distribution</td>
                            <td>Negros Occidental</td>
                            <td>amiller</td>
                            <td>abc123</td>
                            <td>TXBM009</td>
                        </tr>
                        <tr>
                            <td>Allen, Kevin</td>
                            <td>Marketing Manager</td>
                            <td>Marketing</td>
                            <td>IT Park, Cebu</td>
                            <td>kallen</td>
                            <td>pass456</td>
                            <td>TXBM010</td>
                        </tr>
                        <tr>
                            <td>Brown, Rachel</td>
                            <td>Accountant</td>
                            <td>Finance</td>
                            <td>Negros Occidental</td>
                            <td>rbrown</td>
                            <td>brown123</td>
                            <td>TXBM011</td>
                        </tr>
                        <tr>
                            <td>Gonzalez, Carlos</td>
                            <td>Production Manager</td>
                            <td>Production</td>
                            <td>Leyte</td>
                            <td>cgonzalez</td>
                            <td>welcome12</td>
                            <td>TXBM012</td>
                        </tr>
                        <tr>
                            <td>Adams, Jennifer</td>
                            <td>Research Analyst</td>
                            <td>Research</td>
                            <td>IT Park, Cebu</td>
                            <td>jadams</td>
                            <td>adams456</td>
                            <td>TXBM013</td>
                        </tr>
                        <tr>
                            <td>Rodriguez, Sofia</td>
                            <td>Project Manager</td>
                            <td>Project Management</td>
                            <td>Negros Occidental</td>
                            <td>srodriguez</td>
                            <td>123abc</td>
                            <td>TXBM014</td>
                        </tr>
                        <tr>
                            <td>Bell, Jonathan</td>
                            <td>Quality Assurance Specialist</td>
                            <td>Quality Assurance</td>
                            <td>IT Park, Cebu</td>
                            <td>jbell</td>
                            <td>bell123</td>
                            <td>TXBM015</td>
                        </tr>
                        <tr>
                            <td>Johnson, Sarah</td>
                            <td>HR Coordinator</td>
                            <td>Human Resources</td>
                            <td>IT Park, Cebu</td>
                            <td>sarahj</td>
                            <td>sarahpass</td>
                            <td>TXBM016</td>
                        </tr>
                        <tr>
                            <td>Nguyen, Minh</td>
                            <td>Software Developer</td>
                            <td>IT</td>
                            <td>Leyte</td>
                            <td>minhnguyen</td>
                            <td>nguyen456</td>
                            <td>TXBM017</td>
                        </tr>
                        <tr>
                            <td>Gomez, Maria</td>
                            <td>Customer Support Specialist</td>
                            <td>Customer Service</td>
                            <td>Negros Occidental</td>
                            <td>mgomez</td>
                            <td>gomez789</td>
                            <td>TXBM018</td>
                        </tr>
                        <tr>
                            <td>Chang, Michael</td>
                            <td>Marketing Director</td>
                            <td>Marketing</td>
                            <td>IT Park, Cebu</td>
                            <td>mchang</td>
                            <td>changpass</td>
                            <td>TXBM019</td>
                        </tr>
                        <tr>
                            <td>Lopez, Juan</td>
                            <td>Accounting Manager</td>
                            <td>Finance</td>
                            <td>Negros Occidental</td>
                            <td>jlopez</td>
                            <td>juan123</td>
                            <td>TXBM020</td>
                        </tr>
                        <tr>
                            <td>Kim, Eunji</td>
                            <td>Graphic Designer</td>
                            <td>Creative</td>
                            <td>IT Park, Cebu</td>
                            <td>ekim</td>
                            <td>eunji456</td>
                            <td>TXBM021</td>
                        </tr>
                        <tr>
                            <td>Wong, David</td>
                            <td>Operations Supervisor</td>
                            <td>Operations</td>
                            <td>Leyte</td>
                            <td>davidw</td>
                            <td>wongpass</td>
                            <td>TXBM022</td>
                        </tr>
                        <tr>
                            <td>Tran, Linh</td>
                            <td>Sales Associate</td>
                            <td>Sales and Distribution</td>
                            <td>IT Park, Cebu</td>
                            <td>linhtran</td>
                            <td>linhpass</td>
                            <td>TXBM023</td>
                        </tr>
                        <tr>
                            <td>Lee, Seo-joon</td>
                            <td>Customer Success Manager</td>
                            <td>Customer Service</td>
                            <td>Negros Occidental</td>
                            <td>slee</td>
                            <td>seojoon123</td>
                            <td>TXBM024</td>
                        </tr>
                        <tr>
                            <td>Yamamoto, Yuki</td>
                            <td>Quality Control Specialist</td>
                            <td>Quality Assurance</td>
                            <td>IT Park, Cebu</td>
                            <td>yyamamoto</td>
                            <td>yuki456</td>
                            <td>TXBM025</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Hidden modal card -->
                <div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title " id="employeeModalLabel">Management</h5>
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <!-- Buttons for different functionalities -->
                                <div class="row">
                                    <hr />
                                    <div class="col">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#workingHoursModal">
                                            Working Hours
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#overtimeModal">
                                            Overtime
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vacationLeaveModal">
                                            Vacation & Sick Days
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="workingHoursModal" tabindex="-1" role="dialog" aria-labelledby="workingHoursModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="workingHoursModalLabel">Working Hours</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img id="employeeImage" class="img-fluid mx-auto d-block" alt="Employee Image">
                                        <h4 id="employeeName" class="text-center">Employee Name</h4>
                                        <p id="employeeId" class="text-center">Employee ID No.</p>
                                        <p class="text-center">From: <input type="date" id="dateFrom"></p>
                                        <p class="text-center">To: <input type="date" id="dateTo"></p>
                                        <button class="btn btn-primary btn-block">Export Log</button>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Attendance Log:</h4>
                                        <ul id="attendanceLog">
                                            <!-- Attendance log will be dynamically populated here -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Overtime Modal -->
                <div class="modal fade" id="overtimeModal" tabindex="-1" role="dialog" aria-labelledby="overtimeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <!-- Content will be dynamically populated here -->
                        </div>
                    </div>
                </div>

                <!-- Vacation Leave Modal -->
                <div class="modal fade" id="vacationLeaveModal" tabindex="-1" role="dialog" aria-labelledby="vacationLeaveModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <!-- Content will be dynamically populated here -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Click event for employeeModal buttons
        $('#employeeModal').on('click', 'button', function () {
            var targetModal = $(this).data('target');
            $(targetModal).modal('show');
            if (targetModal === '#overtimeModal') {
                populateOvertimeModal();
            } else if (targetModal === '#vacationLeaveModal') {
                populateVacationLeaveModal();
            }
        });

        // SweetAlert for approving vacation leave request
        $(document).on('click', '.btn-approve-vacation', function () {
            Swal.fire({
                title: 'Vacation Leave Approved',
                icon: 'success',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    $(this).text('Already Approved');
                    $(this).attr('disabled', true);
                    $('.btn-deny-vacation').attr('disabled', true);
                }
            });
        });

        // SweetAlert for denying vacation leave request
        $(document).on('click', '.btn-deny-vacation', function () {
            Swal.fire({
                title: 'Vacation Leave Denied',
                icon: 'error',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    $(this).text('Vacation Leave Denied');
                    $(this).attr('disabled', true);
                    $('.btn-approve-vacation').attr('disabled', true);
                }
            });
        });
    });

    function populateVacationLeaveModal() {
        // Construct HTML for vacation leave details
        var html = `
            <div class="modal-header">
                <h5 class="modal-title" id="vacationLeaveModalLabel">Vacation Leave Approval Request </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="/assets/images/vacation_leave.png" alt="Vacation Leave Approval Request" class="img-fluid mx-auto d-block">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-approve-vacation">Approve Request</button>
                <button type="button" class="btn btn-danger btn-deny-vacation">Deny Request</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>`;

        // Update modal content with vacation leave details
        $('#vacationLeaveModal .modal-content').html(html);
    }
</script>

<script>
    let table = new DataTable('#myTable');
    $(document).ready(function () {
        $('#myModal').on('hidden.bs.modal', function (e) {
            if ($('.modal-backdrop').hasClass('fade') && $('.modal-backdrop').hasClass('show')) {
                $('#myModal').modal('hide');
            }
        });
    });

</script>

<script>
    $(document).ready(function () {
        // Click event for employeeModal buttons
        $('#employeeModal').on('click', 'button', function () {
            var targetModal = $(this).data('target');
            $(targetModal).modal('show');
        });

        // Click event for table rows
        $('#myTable').on('click', 'tr', function () {
            // Get data from the clicked table row
            var rowData = $(this).children('td').map(function () {
                return $(this).text();
            }).get();

            // Get the row number
            var rowNumber = parseInt(rowData[6].substring(4)); // Assuming the Employee ID format is "TXBMxxx"

            // Construct the image URL
            var imageUrl = `https://bootstrapdemos.adminmart.com/matdash/dist/assets/images/profile/user-${rowNumber}.jpg`;

            // Update employee details dynamically
            $('#employeeImage').attr('src', imageUrl);
            $('#employeeName').text(rowData[1]);
            $('#employeeId').text(rowData[0]);

            // Show the modal
            $('#employeeModal').modal('show');
        });
    });
</script>


<script>
    $(document).ready(function () {
        // Click event for employeeModal buttons
        $('#employeeModal').on('click', 'button', function () {
            var targetModal = $(this).data('target');
            $(targetModal).modal('show');
            if (targetModal === '#overtimeModal') {
                populateOvertimeModal();
            }
        });

        // SweetAlert for approving request
        $(document).on('click', '.btn-approve', function () {
            Swal.fire({
                title: 'Overtime Approved',
                icon: 'success',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    $(this).text('Already Approved');
                    $(this).attr('disabled', true);
                    $('.btn-deny').attr('disabled', true);
                }
            });
        });

        // SweetAlert for denying request
        $(document).on('click', '.btn-deny', function () {
            Swal.fire({
                title: 'Overtime Denied',
                icon: 'error',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    $(this).text('Overtime Application Denied');
                    $(this).attr('disabled', true);
                    $('.btn-approve').attr('disabled', true);
                }
            });
        });
    });

    function populateOvertimeModal() {
        // Construct HTML for overtime details
        var html = `
            <div class="modal-header">
                <h5 class="modal-title" id="overtimeModalLabel">Overtime Approval Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="/assets/images/overtime.png" alt="Overtime Approval Request" class="img-fluid mx-auto d-block">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-approve">Approve Request</button>
                <button type="button" class="btn btn-danger btn-deny">Deny Request</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>`;

        // Update modal content with overtime details
        $('#overtimeModal .modal-content').html(html);
    }
</script>


<script>
    function populateAttendanceLog() {
        var dateFrom = new Date(document.getElementById('dateFrom').value);
        var dateTo = new Date(document.getElementById('dateTo').value);

        var attendanceLog = document.getElementById('attendanceLog');
        attendanceLog.innerHTML = '';

        var currentDate = new Date(dateFrom);
        while (currentDate <= dateTo) {
            if (currentDate.getDay() >= 1 && currentDate.getDay() <= 5) { // Monday to Friday
                var navItem = document.createElement('li');
                navItem.classList.add('nav-item');
                var navLink = document.createElement('a');
                navLink.classList.add('nav-link');
                navLink.setAttribute('data-toggle', 'collapse');
                navLink.href = '#collapse-' + currentDate.getTime();
                navLink.textContent = currentDate.toLocaleDateString('en-US', { weekday: 'long', month: 'short', day: 'numeric' });
                navItem.appendChild(navLink);

                var collapseDiv = document.createElement('div');
                collapseDiv.id = 'collapse-' + currentDate.getTime();
                collapseDiv.classList.add('collapse');
                collapseDiv.classList.add('submenu');
                var subList = document.createElement('ul');
                subList.classList.add('nav');
                subList.classList.add('flex-column');
                var timeIn = document.createElement('li');
                timeIn.classList.add('nav-item');
                timeIn.textContent = '8:00am - In';
                var timeOut = document.createElement('li');
                timeOut.classList.add('nav-item');
                timeOut.textContent = '5:00pm - Out';
                subList.appendChild(timeIn);
                subList.appendChild(timeOut);
                collapseDiv.appendChild(subList);

                attendanceLog.appendChild(navItem);
                attendanceLog.appendChild(collapseDiv);
            }
            currentDate.setDate(currentDate.getDate() + 1);
        }
    }

    // Remove event listeners
    document.getElementById('dateFrom').removeEventListener('change', populateAttendanceLog);
    document.getElementById('dateTo').removeEventListener('change', populateAttendanceLog);

    // Make modifications to the DOM
    // Call the populateAttendanceLog function

    // Re-add event listeners
    document.getElementById('dateFrom').addEventListener('change', populateAttendanceLog);
    document.getElementById('dateTo').addEventListener('change', populateAttendanceLog);


</script>


